<ion-header>
  <ion-toolbar>
    <ion-title>Header</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid class="ion-padding" [formGroup]="searchForm">
    <ion-row>
      <ion-col size="12" size-sm="4">
        <ion-item>
          <ion-icon name="swap-vertical" slot="start"></ion-icon>
          <ion-select interface="popover" formControlName="sort">
            <ion-select-option *ngFor="let sortOption of sortOptions" [value]="sortOption.value">
              {{ sortOption.label }}
            </ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col size="12" size-sm="4">
        <ion-item>
          <ion-icon name="pricetag" slot="start"></ion-icon>
          <ion-select interface="popover" placeholder="Category">
            <ion-select-option *ngFor="let category of categories" [value]="category.id">
              {{ category.name }}
            </ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col size="12" size-sm="4">
        <ion-item>
          <ion-icon name="search" slot="start"></ion-icon>
          <ion-input maxlength="40" placeholder="Search" [clearInput]="true" formControlName="name"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-list>
    <ion-item>
      <ion-icon name="alert-circle-outline" slot="start"></ion-icon>
      <ion-label>No expenses found</ion-label>
    </ion-item>
  </ion-list>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button (click)="openModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="subtractMonths(1)">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ date | date: 'MMMM yyyy' }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="addMonths(1)">
        <ion-icon name="arrow-forward"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
